
.vs/BoutiqueManagement/v16/.suo
obj/Debug/BoutiqueManagement.csproj.AssemblyReference.cache
.vs/BoutiqueManagement/v16/.suo
obj/Debug/BoutiqueManagement.pdb
.vs/BoutiqueManagement/v16/.suo
.vs/BoutiqueManagement/v16/.suo
bin/BoutiqueManagement.pdb
obj/Debug/BoutiqueManagement.pdb
.vs/BoutiqueManagement/v16/.suo
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/BoutiqueManagement/v16/.suo
*.vsidx
